label {
    margin-right: 15px;
    margin-left: 15px;
    font-weight: bold;
    }
    td,th,button{
        text-align: center;
    }
    .th5{
        margin-left: 20px;
    }
    
    
    .form-control {
        display: inline;
        width: 30%  
    }
    button{
        margin-left: 15px;
        width: 10%;
    }
    li{
        font-size: large;
    }
    .backbtn{
        text-align: center;
        margin-top: 10px;
        margin-bottom:60px;
    }