<div><h1>Welcome to MedSchool app</h1></div>

<div class="row">
    <div class="column">
        <a href="./students/list"><img src="./assets/img/student.png" alt="students"></a>
      <h2>Students</h2>
    </div>
    <div class="column">
        <a href="./teachers/tlist"><img src="./assets/img/teacher.png" alt="teachers"></a>
      <h2>Teachers</h2>
    </div>
    <div class="column">
        <a href="./subjects/slist"><img src="./assets/img/subjects.png" alt="subjects"></a>
      <h2>Subjects</h2>
    </div>
  </div>

