label {
    margin-right: 15px;
    margin-left: 15px;
    font-weight: bold;
    }
    td,th{
        text-align: center;
    }
    .btn{
        text-align: center;
        width: auto;
    }
    h5{
        margin-left: 10px;
    }
    .form-control {
        display: inline;
        width: 30%  
    }
    button{
      text-align: center;
        width: 10%;
    }
    li{
        font-size: large;
    }
    .box{
        position: relative;
        display: inline-block;
        width: 50%;
        height: 100%;   
    }
   

       
    