a{
    color: white;
    text-decoration: none;
}
.container-fluid{
    margin: auto;
}
.navbar {
    position:fixed;
    width: 100%;
}
img{
    width: 30px;
    height: 30px;
   background-color: white;
}
