<div class="container">
    <div class="card">
        <div class="card-header">
            <h3><img src="./assets/img/teacher.png" alt="teacher"> List of all Teachers</h3>
        </div>
        <div>
            <div class="card-header">
                <div class="form-group">
                    <input type="text" class="form-control" autofocus
                    placeholder="Search By First name" 
                    [(ngModel)]="name" (input)="searchByName()"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" 
                    placeholder="Search By Last name" 
                    [(ngModel)]="lname" (input)="searchByLastName()"/>
                </div>
                <P>Search by date range:</P>
                <div class="date">
                    <input type="date" class="form-control" [(ngModel)]="date1" />
                    <input type="date" class="form-control" [(ngModel)]="date2" />
                    <button (click)="searchByRange()" type="button" class="btn btn-primary">Search</button>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>FIRST NAME</th>
                        <th>LAST NAME</th>
                        <th>DNI</th>
                        <th>BIRTHDAY DATE</th>
                        <th>ACTIONS</th>
                    </tr>
                </thead>
                <Tbody>
                    <tr *ngFor="let teacher of teachers">
                        <td>{{teacher.firstName}}</td>
                        <td>{{teacher.lastName}}</td>
                        <td>{{teacher.dni}}</td>
                        <td>{{teacher.birthdayDate}}</td>
                        <td>
                            <button (click)="edit(teacher)" type="button" class="btn btn-success">Edit</button>
                            <button (click)="delete(teacher)" type="button" class="btn btn-danger">Disable</button>
                            <button (click)="details(teacher)" type="button"
                            class="btn btn-dark">Details/Subjects</button>
                        </td>
                    </tr>
                </Tbody>
            </table>
        </div>
    </div>
</div>
